<!DOCTYPE html>

<html lang="en">
  <!--////////////////////////////////////////////////////////////////ANGULAR MODULE////////////////////////////////////////////////////////////////-->
  <html ng-app="scotchTodo">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Todo with angular!</title>
      <link
        rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      />
      <!-- load bootstrap -->
      <style>
        html {
          overflow-y: scroll;
        }
        body {
          padding-top: 70px;
          padding-bottom: 70px;
        }
        #todo-list {
        margin-top: 70px;
        margin-bottom: 70px;
        }
      </style>

      <!-- SPELLS -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <!-- load jquery -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
      <!-- load angular -->
      <script src="core.js"></script>
    </head>

    <!--////////////////////////////////////////////////////////////////CONTROLLER AND GET TODO LIST////////////////////////////////////////////////////////////////-->
    <body ng-controller="mainController">
      <div class="container">
        <!-- HEADER AND NUMBERS OF TODO IN LIST -->
        <div class="jumbotron text-center">
          <h1 >
            <span class="label label-primary">{{ todos.length }}</span>
            Tasks
          </h1>
        </div>

        <!-- LIST OF ALL TODOS -->
        <div id="todo-list" class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <th scope="col"> <h3>Task</h3></th>
                    <th scope="col"></th>
                    <th scope="col"><h3>Assigned to</h3></th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                <!-- LOOP TODOS -->
                <tr ng-repeat="todo in todos">
                    <td>
                        <h4>{{todo.text }}</h4>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-block" ng-click="deleteTodo(todo._id, todo.text)">
                        Delete
                        </button>
                    </td>
                    <td>
                        <h4>{{ todo.person }}</h4>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-block" ng-click="deleteTodoAssignment(todo._id, todo.person)">
                        Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>



<!--///////////////////////////////////////////////////////////////////////CREATE TASK AND ASSIGN FOR TODO/////////////////////////////////////////////////////////////////-->
        <div class="jumbotron text-center">
        <h2> Add a new task!</h2>
        </div>

        <div class="container">
        <!-- FORM TO CREATE TODO -->
            <form>
                <div class="form-row">

                
                <!-- BIND VALUE OF TASK NAME -->
                <div class="col-lg-5">
                    <input
                    type="text"
                    class="form-control input-lg text-left"
                    placeholder="Task name..."
                    ng-model="formData.text"
                    />
                </div>
                <!-- BIND VALUE OF ASSIGNMENT -->
                <div class="col-lg-5">
                    <input
                    type="text"
                    class="form-control input-lg text-left"
                    placeholder="Assigned to..."
                    ng-model="formData.person"
                    />
                </div>

              <!-- CREATE NEW TODO -->
              <button
                type="submit"
                class="btn btn-success btn-lg pull-right"
                ng-click="createTodo()"
              >
                Add
              </button>
            </div>
            </form>
        </div>
      </div>
    </body>
  </html>
</html>
